<div class="container">
    <div class="col-xs-12">
        <div class="page-header">
            <h1><a href="/account/bookjobs">BookedJob /{{editbookjob.OrderNo}}</a></h1>
        </div>
        <legend>Details<!--  {{editbookjob.Status}} --></legend>    
          <table class="table table-striped">

          <tbody> 
          <tr>
            <td class="col-lg-2 col-md-2 col-sm-2 col-xs-2"> User Name:</td>
            <td>{{editbookjob.userName}}</td>
          </tr>  
          <tr>
            <td class="col-lg-2 col-md-2 col-sm-2 col-xs-2"> Shop Name:</td>
            <td>{{editbookjob.shopName}}</td>
          </tr>      
          <tr ng-if="subAdmin==true">
            <td class="col-lg-2 col-md-2 col-sm-2 col-xs-2"> Address:</td>
            <td>{{editbookjob.userAddress}}</td>
          </tr>      
          <tr>
            <td class="col-lg-2 col-md-2 col-sm-2 col-xs-2"> Pick Up Time:</td>
            <td>{{editbookjob.PickupTime | timeFormat }}</td>
          </tr>
          <tr>
            <td> Pick Up Date: </td>
            <td> {{editbookjob.pickupdate | dateFormat }}</td>
          </tr>
          <tr>
            <td> Part: </td>
            <td> {{editbookjob.Part}} </td>
          </tr>
          <tr>
            <td> Make: </td>
            <td> {{editbookjob.make}}</td>
          </tr>
          <tr>
            <td> Model: </td>
            <td>{{editbookjob.model}}</td>
          </tr>
          <tr>
            <td> Year:</td>
            <td>{{editbookjob.year}}</td>
          </tr>
           <tr>
            <td> Status:</td>
            <td>{{editbookjob.Status}}</td>
          </tr>
          <tr ng-if="editbookjob.price!=null">
            <td> Price:</td>
            <td>${{editbookjob.price}}</td>
          </tr>
          <tr ng-if="editbookjob.freightCost!=null">
            <td> Freight Cost:</td>
            <td>${{editbookjob.freightCost}}</td>
          </tr>
          <tr ng-if="editbookjob.DeliveryRating!=null">
            <td> Delivery Rating:</td>
            <td><!-- {{editbookjob.DeliveryRating}} -->
              <div class="rate-fix" star-rating rating-value="editbookjob.DeliveryRating" max="10"></div>
            </td>
          </tr>
          <tr ng-if="editbookjob.QualityRating!=null">
            <td> Quality Rating:</td>
            <td><!-- {{editbookjob.QualityRating}}    -->
              <div class="rate-fix" star-rating rating-value="editbookjob.QualityRating" max="10" ng-disabled="true"></div>
            </td>
          </tr>
          <tr ng-if="editbookjob.ServiceRating!=null">
            <td> Service Rating:</td>
            <td><!-- {{editbookjob.ServiceRating}}  -->
              <div class="rate-fix" star-rating rating-value="editbookjob.ServiceRating" max="10"></div>
            </td>
          </tr>
          <tr ng-if="editbookjob.RatingNote!=null">
            <td> Rating Note:</td>
            <td>{{editbookjob.RatingNote}}</td>
          </tr>
          <tr>
            <td>Images:</td> 
            <td><div class="col-lg-4 col-md-4 col-sm-6 col-xs-6"  ng-repeat="filelist in editbookjob.images" style="border:1px solid #000;">
                        <div class="row">
                          <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6">
                        <!--    <a id="imageOutline" href="/images/{{filelist.imagesName}}" target="_blank" ng-click="openLightboxModal($index)"> -->
                        <a id="imageOutline" ng-click="openLightbox($index)">

                            <img  class="img-thumbnail" border="0" ng-src="/images/{{filelist.imagesName}}" alt="/images/{{filelist.imagesName}}" style="height:100px;width:100px;"/>   </a>      
                          </div>
                          <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6">
                            <label>Comment</label>
                            <textarea class="form-control" name="Comments" ng-model="filelist.Comments" readonly></textarea>
                          </div>
                        </div>
                       
              </div></td>           
          </tr> 
           <tr ng-if="editbookjob.Status=='Declined'">
            <td> Reason For Declined:</td>
            <td> {{editbookjob.reasonDeclined}}</td>
          </tr>
        </tbody>         
        </table> 
        <div ng-if="editbookjob.Status=='PriceSent'">
          <button class='btn btn-success btn-sm' ng-click='acceptPrice()'>Accept Price
          </button>
         <!--  <a class="btn btn-danger btn-sm" ng-click="RejectPrice()">Reject</a>  -->
        </div> 
      
        <div ng-if="subAdmin==false && editbookjob.Status=='Delivered'">
          <button class='btn btn-primary btn-sm' ng-click='rateJob()'>Rate</button>
         <!--  <a class="btn btn-danger btn-sm" ng-click="RejectPrice()">Reject</a>  -->
        </div> 
       
        <div ng-if="subAdmin==true && editbookjob.Status=='Allocated'">
            <a class="btn btn-success btn-sm"  ng-click="Accept()">Confirm</a>
            <!-- <a class="btn btn-danger btn-sm" ng-click="Reject()">Reject</a> -->
            <!-- <a class="btn btn-primary" ng-click="jobFinished()">Mark As Finished</a><br> -->           

        </div> 
         <div ng-if="subAdmin==true && editbookjob.Status=='Accepted' && editbookjob.jobStarted==null">        
            <a class="btn btn-primary" ng-click="jobStarted()">Mark As Job Started</a>
        </div> 
        <div ng-if="subAdmin==true && editbookjob.jobStarted!=null && editbookjob.estimatedTime==null">
            <!-- <a class="btn btn-success btn-sm"  ng-click="Accept()">Accept</a>
            <a class="btn btn-danger btn-sm" ng-click="Reject()">Reject</a> -->
            <a class="btn btn-primary" ng-click="jobFinished()">Mark As Finished</a>

        </div> 
         <div ng-if="subAdmin==true && editbookjob.estimatedTime!=null && editbookjob.Status!='Delivered' && editbookjob.Status!='Rated' && editbookjob.Status!='Allocated'">           
            <a class="btn btn-primary" ng-click="jobDelivered()">Mark As Delivered</a>
         </div>
        <!--  <form name="deleteForm"><fieldset>
            <alert ng-repeat="alert in deleteAlerts" type="{{alert.type}}" close="closeDeleteAlert($index)">{{alert.msg}}</alert>           
            <div class="form-group">
                <button type="button" class="btn btn-danger btn-delete" ng-click="deleteBookjob()">Delete</button>
            </div>
        </fieldset></form>   -->  
    </div>
</div>