<form name="form" novalidate class="DateTime-form" id="dateTimeform">
    <div class="modal-header">
        <h4>Select Date and time</h4>        
        <button class="close" ng-click="cancelrate()">x</button>
        
    </div>
    <div class="modal-body">        
        <div class="form-group">
            <label class="control-label" for="date">Date Time:</label>           
         
             
          
        </div>        
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary login" ng-click="finish()" ng-disabled='form.$invalid'>Finish</button>       
        <button class="btn btn-warning cancel" ng-click="cancelrate()">Cancel</button>
    </div>
</form>

        