//bootstrap
@import 'client/bower_components/bootstrap-sass/assets/stylesheets/bootstrap';
@import 'client/bower_components/bootstrap-sass/assets/stylesheets/bootstrap/theme';

//font-awesome
@import 'client/bower_components/font-awesome/scss/font-awesome';

//bootstrap3 dialog
//@import 'client/bower_components/bootstrap3-dialog/src/scss/bootstrap-dialog;

//variable & mixin
@import 'util/_variable';
@import 'util/_mixin';

//component
@import 'component/_ajax_spinner';

//layout
@import 'layout/_default';
@import 'layout/_header';
@import 'layout/_footer';

//page
@import 'page/_index';
@import 'page/_signup';
@import 'page/_account';
@import 'page/_admin';

.rating {
    color: #a9a9a9;
    margin: 0;
    padding: 0;
}
ul.rating {
    display: inline-block;
}
.rating li {
    list-style-type: none;
    display: inline-block;
    padding: 1px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}
.rating .filled {
    color: red;
}
.table td.tdRight {
  text-align: right;
}
.table td.tdCenter {
  text-align: center;
}
.table-nonfluid {
   width: auto;
}

#imageOutline:focus {
  outline:none;
}

.left-space{
  margin-left: 10px;
}



.flash-fix{
  margin: 35px 0 5px;
}

.flash-fix-reverse{
  margin: 35px 0 0px;
}

.rate-fix{
  pointer-events: none;
}